site_name: senv (Super Environment)
site_description: Simplify publishing, developing, and testing your projects.
site_url: https://github.com/JorgeGarciaIrazabal/senv
theme:
  name: 'material'
  palette:
    primary: 'black'
    accent: 'teal'
  icon:
    repo: fontawesome/brands/github-alt
#  logo: 'img/icon-white.svg'
#  favicon: 'img/favicon.png'
repo_name: senv
repo_url: https://github.com/JorgeGarciaIrazabal/senv

extra_css:
  - 'css/termynal.css'
  - 'css/custom.css'

extra_javascript:
  - 'https://unpkg.com/mermaid@8.4.6/dist/mermaid.min.js'
  - 'js/termynal.js'
  - 'js/custom.js'

nav:
  - Senv: 'index.md'
  - Commands:
    - Venv: 'venv.md'
    - Package: 'package.md'
    - Config: 'config.md'
  - Pyproject.toml: 'pyproject.ml'


markdown_extensions:
  - toc:
      permalink: true
  - markdown.extensions.codehilite:
      guess_lang: false
  - mkdocs-click
  - admonition
  - codehilite
  - extra
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_div_format
  - pymdownx.tabbed
